body{
    width: 70%;
    margin: auto;

}
header{
    background: rgb(255, 248, 243);
}

.banner{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 72%;
    margin: auto;
    /* padding-top: 30px; */
}
.navLink ul>li{
    list-style: none;
    padding: 20px;
    border-radius: 10px;
}

.navLink ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.navLink ul>li:hover{
    background-color: rgb(255, 217, 189);
    /* padding: 20px; */
}

.hire-button{
    padding: 0.9rem;
    background: rgb(253, 110, 10);
    color: white;
    border: none;
    border-radius: 10px;
    width: 7rem;
    cursor: pointer;
}

.stack-sans-text{
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.mary-cart{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
   margin-left: 150px;
}
.imgShadow{
    position: relative;
    margin-bottom: 50px;
}
.imgShadow img{
    width: 600px;
}
.hardy-Img img{
   position: absolute;
   top: -98px;
   left: 140px;
   width: 400px;
}
.title{
    width: 45%;
    margin-left: 40px;
    
}
.title h1{
    font-size: 4rem;
    margin: 0;
}
.title h3{
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}
.title p{
    color: rgb(117, 117, 117);
}
.btn button{
    width: 9rem;
    padding: 20px;
}
